$text-size: 18px;

$border-section: 1px solid #009494;
$border-form: 1px solid #009494;

$background-footer: black;
$background-header: black;

$background-btn: #c7f7f7;
$border-input: 0.5px solid black;