@import url("designsystem.css");
@import url("card.css");
@import url("grid.css");
@import url("blog.css");

/* header */
.title {
    text-align: center;
    color:#3DB15E;
    grid-area: header;
}

/* navigation */
.nav{
    display: flex;
    grid-area: nav;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    
}

.nav-menu{
    display: flex;
    flex-flow: row wrap;
    width: 40%;
    justify-content: flex-start;
    align-items: left;
    padding-inline-start: 0px;
}

.subscribe{
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    justify-content: flex-end;
    align-items: right;
}

.nav-item{
    list-style-type: none;
    color: black;
    font-size: 32px;
}

a {
    text-decoration: none
}

a:hover {
    color: #3DB15E;
}


.nav-link{
    list-style-type: none;
    margin: 16px;
    color: black;
}



/* footer */

footer {
    grid-area: footer;
    width: 100%;
    height: 50px;
    background-color: #E5E5E5;
    padding: 16px 16px;
}

.copyright {
    text-align: center;
    color:black
}